<div class="box">
  <h1 class="is-size-3 mt-5">Comments Page</h1>
  {{comment.comment}}
  {{#each comments as |comment|}}
    <h1 class="is-size-4">{{comment.blogpost.title}}</h1>
    <p>{{comment.comment}}</p>
  {{/each}}

</div>

