{{#each posts as |post| }}
<div class="card mt-4">
  <header class="card-header">
    <div class="p-5">
      <h1 class="is-size-4">{{post.title}}</h1>
      <p>By: {{post.user.name}}</p>
    </div>
    
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
  <div class="card-content">
    <div class="content">
      {{post.body}}
    </div>
  </div>
  {{!-- <footer class="card-footer">
    <a href="#" class="card-footer-item">Save</a>
    <a href="#" class="card-footer-item">Edit</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer> --}}
</div>
{{/each}}